name: launch_icon
description: This scans for *.png files so that flutter launch_icons on different platforms are updated.
version: 0.1.0
homepage: https://www.retired.kiwi
repository: https://github.com/chris-reynolds/launch_icon
environment:
  sdk: '>=3.3.0 <4.0.0'
executables:
  launch_icon: launch_icon
dependencies:
  image: ^4.1.7
# #  path: ^1.6.0
  yaml: ^3.1.2

dev_dependencies:
  lint: ^2.8.0
  test: ^1.25.2

launch_icon_1:
  source: test/assets/album_icon.png
  target:
    - test/../album*.png
    - test/../AppIcon*.png
    - test/../favicon.png

launch_icon_2:
  source: test/assets/album_icon.png
  target:
    - test/../ic_launcher*.png

